*{
    padding : 0;
    margin : 0;
}
body{
    background-color : rgb(246,251,247);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display : flex;
    justify-content: space-around;
    margin-top: 2em;
}
.menua{
    display : flex;
    align-items: center;
    justify-content: center;
}
.menub{
    display : flex;
    justify-content: center;
    align-items: center;
}
.menub a{
    text-decoration: none;
    margin : 2em;
    color : grey;
}
.menuc{
    display : flex;
    align-items: center;
    justify-content: center;
}

#signup{
    border : none;
    background-color : rgb(125,205,135);
    color : white;
    padding : 1em 2em 1em 2em;
    font-size : 1em;
    border-radius : 40px;
}
.sec-1{
    display : flex;
    height : 80vh;
    width : 100%;
}
.sec-1 h1{
    font-size : 2em;
}
.sec-1-a{
    width : 70%;
    height : 100%;
    font-size : 1.4em;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-1-a p{
    text-align:left;
    margin-left : 8em;
    margin-right : 8em;
    color : grey;
    font-weight: lighter;
    margin-bottom : 1.5em;
    margin-top : 1em;
    
}
#searchbar{
    padding : 1.6em 2em 1.6em 2em;
    width : 30em;
    border:none;
    box-shadow : 4px 5px 4px lightgrey;
    border-radius : 30px;
    margin-left : 7em;
    background-color : white;
}
#search{
    position : relative;
}
.sec-1-b{
    width : 50%;
    height : 100%;
}
.btn-1{
    margin-top : 3em;
}
input::placeholder{
    font-size : 1.3em;
    bottom : unset;
    color : rgb(156, 156, 156);
}
.btn button{
    position : relative;
    right : 8.5em;
    padding : 1.55em 2.5em 1.55em 2.5em;
    border-radius : 30px;
    background-color : black;
    color : white;
    border : none;
    
}
#en{
    padding : 1em 3em 1em 3em;
    background-color : rgb(125,205,135);
    border : none;
    color : white;
    font-size : 0.7em;
    box-shadow : 2px 2px 4px rgb(199, 199, 199);
    border-radius : 30px;
}

#vc{
    padding : 1em 3em 1em 3em;
    border : 1px solid grey;
    color : grey;
    border-radius : 30px;
    font-size : 0.7em;
    background-color : transparent;
}
.allpage{
    display : flex;
    flex-direction: column;
}

.footer{
    margin-top : 2em;
    background-color : rgb(16,27,60);
    width : 100%;
    height : 18em;
}
.flex{
    height : 100%;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    color : rgb(243, 243, 243);
    font-weight: lighter;
}
.flex img{
    width : 100px;
}
.flexbox{
    display :flex;
}

.flex a{
    text-decoration: none;
    color : rgb(125,205,135);
}
.flex-text{
    display : flex;
    align-items: center;
    flex-direction: column;
    margin-left : 0.5em;
    justify-content: space-evenly;
}

@media (max-width:1000px){
    .sec-1{
        display : flex;
        align-items: center;
        justify-content: center;
    }
    .sec-1-b{
        display : none;
    }
    .footer{
        flex-direction: column;
    }
    .btn button{
        display : none;
    }
    #searchbar{
        margin-left : unset;
    }
}

@media (max-width : 800px){
    header{
        display : none;
    }
    .flex{
        display : flex;
        flex-direction: column;
    }
    .flexbox img{
        width : 40px;
    }
    .sec-1-a h2{
        font-size : 0.5em;
    }
    
}

@media (max-width : 585px){
    .btn-1{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #en{
        margin-bottom : 1em;
    }
    #vc{
        margin-bottom : 0em;
    }
    .sec-1{
        height : 100vh;
    }
    .sec-1-a h1{
        font-size : 1.2em;
        margin-top : 1em;
    }
    .sec-1-a p{
        margin-left : unset;
        margin-right : unset;
    }
    #searchbar{
        width : 20em;
    }
    .sec-1 h2{
        font-size : unset;
        padding : unset;
        margin : unset;
        font-size : 10px;
    }
}
